body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    display: grid;
    place-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#gameField {
    width: 646px;
    height: 646px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    cursor: url(../img/cursor.png) 16 16, auto;
}

#scoreboard {
    width: 646px;
    height: 146px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hitDiv, #missDiv, #accuracyDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
}

.square {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.active {
    background-color: green;
}

.miss {
    background-color: red;
}


@-webkit-keyframes AnimationName {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@keyframes AnimationName {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}